<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Board List Page
            <span>
                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-outline-primary">등록</button>
                </a>
            </span>
        </h1>
        <form action="/board/list" id="searchForm">
            <div class="input-group">
                <input type="hidden" name="page" value="1">
                <div class="input-group-prepend">

                </div>
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search">검색</button>
                    <button class="btn btn-outline-secondary btn-clear">취소</button>
                </div>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dto : ${result.dtoList}">
                    <th scope="row">
                        <a th:href="@{/board/read(bno=${dto.bno},page=${result.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">
                            [[${dto.bno}]]
                        </a>
                    </th>
                    <td>
                        [[${dto.title}]]-----[<b th:text="${dto.replyCount}"></b>]
                    </td>
                    <td>[[${dto.writerName}]] <small>[[${dto.writerEmail}]]</small></td>
                    <td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination 파트(아래) -->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link"th:href="@{/board/list(page=${result.start-1},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">이전</a>
            </li>
            <li th:class=" 'page-item ' + ${result.page == page ?'active':''} " th:each="page:${result.pageList}">
                <a class="page-link" th:href="@{/board/list(page=${page},size=${result.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/board/list(page=${result.end+1},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}" tabindex="-1">다음</a>
            </li>
        </ul>

        <!-- modal -->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">모달 제목</h5>
                        <button type=button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>여기는 모달 바디 테스트 영역</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button class="btn btn-primary">확인</button>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>
