<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--/* thymeleaf 사용위해 추가 */-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .target{
            background-color: red;
        }
    </style>
</head>
<body>
    <ul>
        <li th:each="dto,state : ${list}">
            <span th:if="${dto.sno%5==0}" th:text="${'---------------'+dto.sno}" class="target"></span> <!--*/ if 5의 배수이면~ */-->
            <span th:unless="${dto.sno%5==0}" th:text="${dto.first}"></span> <!--*/ 5의 배수 아니면~(unless) */-->
        </li>
    </ul>
</body>
</html>