<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--/* thymeleaf 사용위해 추가 */-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li{
            color: red;
        }
    </style>
</head>
<body>
    <ul>
        <li th:each="dto,state : ${list}" th:if="${dto.sno%5==0}">
            <!--/* each: foreach기능, dto: list에서 하나씩 꺼낸 것, state: index 등 상태객체, if: 조건문(충족하면 아래로 넘어감) */-->
            [[${state.index}]] -- [[${dto}]] <!--/* [[]] 인라인 표현식으로 별도의 태그 속성으로 지정하지 않고 사용하고자 할때 유용함 */-->
        </li>
    </ul>
</body>
</html>