<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 사용위해 추가 -->
<th:block th:replace="~{/layout/layout1::setContent(~{this::content})}"> <!--/* layout1.html의 setContent 함수 호출 */-->
    <th:block th:fragment="content"> <!--/* 함수 호출 시 파라미터 전달 영역 */-->
        <h1>exTemplate Page</h1>
    </th:block>
</th:block>
<!--/* 작성된 exTemplate.html 파일의 전체 내용은 layout1.html로 처리하고 파라미터로 현재 파일의 content 부분만 전달함
       결과를 보면 전체적인 레이아웃은 layout.html의 내용이 사용되는 것을 볼 수 있고 중간 CONTENT로 출력된 영역이 exTemplate.html
       의 내용으로 변경된 것을 확인할 수 있음. 이와 같이 Thymeleaf 를 이용해서 전체 레이아웃을 가지는 페이지를 작성하고
       필요한 부분만 개발해서 템플릿으로 적용 가능함 */-->